<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disease Map</title>
    <link rel="stylesheet" href="../css/loggedin.css">
    <link rel="stylesheet" href="../css/common.css">
</head>

<body class="w">
    
    <nav class="nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/profile">Profile</a></li>
        </ul>
    </nav>
    
    <div class="main">
        <div class="info">
            <h1>Welcome {{user.fname}} {{user.lname}}!</h1>
            <ul>
            <li>
                Email: {{user.email}}
            </li>
            <li>
                State: {{user.stateID}} 
            </li>
            <li>
                Current Diagnosis: {{user.diagnosisName}}
               </li>
               </ul>
        </div>
        <div class="text">

        <br>
        <h2> Update Information: </h2>
            <form id="updateUser" action="/loggedin/:{{user.userID}}" method="post">
            <ul>
            <li>
                <label>First Name:</label> <input type="text" name="fname" value="{{user.fname}}">
            </li>
            <li>
                <label>Last Name:</label> <input type="text" name="lname" value="{{user.lname}}">
            </li>
            <li>
                <label>E-mail:</label> <input type="text" name="email" value="{{user.email}}">
            </li>
            <li>
                <label>Username:</label> <input type="text" name="username" value="{{user.username}}">
            </li>
            <li>
                <label>Password:</label> <input type="text" name="password" value="{{user.password}}">
            </li>
                <br>
                <br>
                <li>
                <label>State:</label> <select name = "stateID">
                           {{#each states}}
                           <option value = "{{stateID}}"> {{stateID}}</option>
                           {{/each}}
                           </select> 
                 </li>
                 <li>
                <label>Diagnosis:</label> <select name = "sicknessID">
                   {{#each diagnoses}}
                   <option value = "{{sicknessID}}"> {{diagnosisName}}</option>
                   {{/each}}
                   </select> 
                   </li>
                <br>
                <li>
            <input class="btn" type = "submit" value = "update">
            </li>
            </ul>
            </form>
        </div>
    </div>
<br> <br>

<table>
    <thead>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Diagnosis</th>
    </thead>
    <tbody>
        {{#each instances}}
        <tr>
            <td>{{startDate}}</td>
            <td>{{endDate}}</td>
            <td>{{diagnosisName}}</td>
            <td><a href="/loggedin/{{userID}}/{{instanceID}}"> Update Instance</a><td>
        </tr>
        {{/each}}
    </tbody>
</table>

<form id = "addInstance" action = "/instances/:{{instances.[0].userID}}" method = "post">
<ul>
<li>
<label>Start date:</label> <input type = "date" name = "startDate">
</li>
<li>
<label>Diagnosis:</label> <select name = "sicknessID">
    {{#each diagnoses}}
    <option value = "{{sicknessID}}"> {{diagnosisName}}</option>
    {{/each}}
    </select>
    </li>
<li>
<input type = "submit" value = "Add new instance">
</li>
</ul>
</form>

<br> <br>

<form id= "deleteUser" action= "/deleteUser/:{{user.userID}}" method="post">
    <input class="btn" type = "submit" value = "Delete account and all corresponding data">
</form>

    <footer class="footer">
    </footer>
    <br><br>
 <a href="/">
            <input class="btn" value="Sign Out">
     </a>
</body>

</html>
