<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disease Map</title>
    <link rel="stylesheet" href="../css/loggedin.css">
    <link rel="stylesheet" href="../css/common.css">
</head>

<body class="w">
    
    <nav class="nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/profile">Profile</a></li>
        </ul>
    </nav>

<h2> Current Instance: {{instance.instanceID}}</h2>


<form id="updateInstance" action="/loggedin/:{{instance.[0].userID}}/:{{instance.[0].instanceID}}" method="post">
<ul>
<li>
                Start Date: {{instance.[0].startDate}}
</li>
<li>
                End Date <input type="date" name="endDate">
                </li>
                <li>
                Diagnosis: {{instance.[0].diagnosisName}}
                </li>
                <li>

            <input class="btn" type = "submit" value = "update">
            </li>
            </ul>
</form>
